<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur7e_marble_bot">

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>

  <link name="world"/>

  <xacro:ur_robot
    name="ur7e"
    tf_prefix=""
    parent="world"
    joint_limits_parameters_file="$(find ur_description)/config/ur7e/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/ur7e/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/ur7e/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/ur7e/visual_parameters.yaml"
    force_abs_paths="true">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:ur_robot>

  <!-- <link name="labyrinth_board">
    <visual>
      <geometry><box size="0.4 0.4 0.02"/></geometry>
      <material name="Grey"><color rgba="0.7 0.7 0.7 1.0"/></material>
    </visual>
    <collision>
      <geometry><box size="0.4 0.4 0.02"/></geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.0133" ixy="0" ixz="0" iyy="0.0133" iyz="0" izz="0.0266"/>
    </inertial>
  </link>

  <joint name="board_joint" type="fixed">
    <parent link="wrist_3_link"/>
    <child link="labyrinth_board"/>
    <origin xyz="0 0.1 0" rpy="${pi/2} 0 0"/>
  </joint> -->

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find marble_control)/config/ur7e_controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <!-- <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint> -->

</robot>