<?xml version="1.0"?>
<robot name="zeball">
  <link name="ball_link">

    <!-- collision is a sphere so physics is stable -->
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.015"/>
      </geometry>
    </collision>

    <!-- visual mesh: we will fill the filename in from the launch file by writing this URDF out -->
    <visual>
    <!-- centers the STL on the link frame -->
       <origin xyz="0.1 0.12 -1.11" rpy="0 0 0"/>
       <geometry>
        <mesh filename="file:///ABSOLUTE/PATH/TO/OldOne_description/meshes/zEBALL_1.stl"
              scale="1 1 1"/>
       </geometry>
    </visual>

  </link>
</robot>